annotated-types==0.6.0
anyio==4.3.0
asgiref==3.8.1
astroid==3.0.3
asttokens==2.4.1
beautifulsoup4==4.12.3
boto3==1.34.112
botocore==1.34.112
Brotli==1.1.0
bs4==0.0.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.17.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.4.4
cssselect2==0.7.0
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
dill==0.3.8
distlib==0.3.8
distro==1.9.0
dj-rest-auth==6.0.0
Django==5.0.8
django-cors-headers==4.3.1
django-extensions==3.2.3
django-import-export==3.3.7
django-ipware==7.0.1
django-storages==1.14.3
django-structlog==7.1.0
django-stubs==5.0.0
django-stubs-ext==5.0.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
et-xmlfile==1.1.0
executing==2.0.1
filelock==3.14.0
fonttools==4.53.1
freezegun==1.4.0
gitautopush==0.4.1
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
-e git+https://github.com/pescheckit/python-gpt-po.git@87f34ed5a9a8ccf086ac20bc955bee51df9850ca#egg=gpt_po_translator
gunicorn==22.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
hypno==1.1.0
identify==2.5.36
idna==3.7
inflection==0.5.1
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.24.0
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
madbg==1.3.2
markdown-it-py==3.0.0
MarkupPy==1.14
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mypy==1.8.0
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==2.1.0
odfpy==1.4.1
openai==1.25.1
openpyxl==3.1.2
packaging==24.0
parso==0.8.4
pew==1.2.0
pexpect==4.9.0
pika==1.3.2
pillow==10.3.0
platformdirs==4.2.1
pluggy==1.5.0
polib==1.2.0
pre-commit==3.6.2
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
psycopg==3.1.17
psycopg-binary==3.1.17
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.6.2
pydantic_core==2.16.3
pydyf==0.11.0
Pygments==2.18.0
pyinjector==1.3.0
PyJWT==2.8.0
pylint==3.0.3
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
PyPDF2==3.0.1
pyphen==0.16.0
pytest==8.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-ipware==3.0.0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
rsa==4.9
ruff==0.2.2
s3transfer==0.10.1
sentry-sdk==1.44.1
setuptools==69.5.1
six==1.16.0
sniffio==1.3.1
-e git+ssh://git@github.com/Genymobile/SoCIS-shared.git@17bf110bdc983b0cb0e51e83630dc261c1572a05#egg=socis_shared
soupsieve==2.6
sqlparse==0.5.0
stack-data==0.6.3
structlog==24.1.0
structlog-sentry==2.1.0
svgwrite==1.4.3
tablib==3.5.0
tinycss2==1.3.0
tomlkit==0.12.5
tqdm==4.66.4
traitlets==5.14.3
types-PyYAML==6.0.12.20240311
typing_extensions==4.11.0
uritemplate==4.1.1
urllib3==2.2.1
virtualenv==20.26.1
virtualenv-clone==0.5.7
wcwidth==0.2.13
weasyprint==60.2
webencodings==0.5.1
Werkzeug==3.0.3
xlrd==2.0.1
xlwt==1.3.0
zopfli==0.2.3
